<header>
    <h1 class="header-title" style="grid-area: title;">
        <a href="/">HomeStock<a>
    </h1>
    <nav class="header-nav" style="grid-area: nav;">
        <a href="/" style="grid-area: fridge;">Myfridge</a>
        <a href="/Category" style="grid-area: category;">Categories</a>
        <a href="/Items" style="grid-area: product;">Products</a>
    </nav>

</header>