<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/ctgry-index.js" defer></script>
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <section class="category-container">
        <h1 class="title">category page</h1>
        <div class="add-btn" id="ctgry-btn" aria-label="create new category button"> Create new category!</div>
        <% category.forEach(card => { %>
            <div class="ctgry-card">
                <%= card.name %>          
                <div id="card-options">
                    <a href="/Category/<%= card.id %>" style="margin-right: 20px; color: orange;">edit</a>
                    <a style="color: red;">delete</a>        
                </div>  
                
            </div>

        <% }) %>
    </section>
    <dialog id="ctgry-dlg">
        <form method="post" action="/Category">
            <h2>Create new category</h2>
            <label for="ctgyName">Name: </label>
            <input id="ctgyName" name="ctgyName" type="text" placeholder="canned food" required>
            <button> + add item</button>
            <button type="button" id="dlg-exit">close</button>
        </form>
    </dialog>
</body>
</html>