<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <section class="category-container">
        <h1 class="title">category page</h1>
        <% category.forEach(card => { %>
            <div class="ctgry-card"> <%= card.name %> </div>
        <% }) %>
    </section>
</body>
</html>