
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="header-title" style="grid-area: title;">
            <a href="/">HomeStock<a>
        </h1>
        <nav class="header-nav" style="grid-area: nav;">
            <a href="/" style="grid-area: fridge;">Myfridge</a>
            <a href="/Category" style="grid-area: category;">Categories</a>
            <a href="/Products" style="grid-area: product;">Products</a>
        </nav>

    </header>
    <section>content goes here!</section>
</body>
</html>