<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <section class="main-container">
        <h1 class="title">Items page</h1>
        <div class="link-container">
            <a href="/Category" class="link-Btn">Categories</a>
            <a href="/" class="link-Btn">Home</a>
        </div>
    </section>
</body>
</html>