<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/top-nav.ejs") %>
    <!--db shape: { category_name: 'dairy', item_name: 'milk', quantity: 2 },-->
    <section class="itms-container">
        <h1 class="title">Items page</h1>
        <% items.forEach(item =>{%>
        <div class="itm-card">
            <h4><%= item.item_name %></h4>
            <div><%= item.quantity %></div>
            <div><%= item.category_name %></div>
        </div>
        <% }) %>

    </section>
</body>
</html>