html{
    height: 100%;    
}
body{   
    background-color: rgb(241, 237, 237);
    margin: 0px;
  


}
header{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ' title nav';
    background-color: rgb(148, 152, 155);
    padding: 10px;

}
.header-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    text-align: center;
    
    grid-template-areas: 'fridge category product';
}
a{ 
    text-decoration: none;
    color: white;
    align-self: center;
}
dialog{
    border: none;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
button{
    padding: 10px;
    margin: 10px;
    
}
.main-container{
    display:grid;
    grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
    justify-content: center;
    grid-template-areas:
    ' . title .'
    ' . links .'
    '. . .';
    gap: 5px;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin-top: 25%;
    
}
.title{
    grid-area: title;
    justify-self: center;
}
.add-btn{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    outline: 1px solid rgb(148, 152, 155);
    margin: 20px;
}
.add-btn:hover{
    color: rgb(75, 199, 75);
    background-color: rgb(235, 235, 235);
    padding: 20px;
    border-radius: 20px;
    outline-color: rgb(70, 236, 70);
    margin: 20px;
    cursor: pointer;
}
.link-container{
    grid-area: links;
}
.link-Btn{
    background-color: rgb(148, 152, 155);
    padding: 20px;
    font-size: 24px;
}
.link-Btn:hover{
    background-color: rgb(204, 206, 207);
}
#card-options{
    grid-area: options;
    background-color:rgb(148, 152, 155) ;
    padding: 20px;
    align-self: center;
    border-radius: 20px;
}
#card-options:hover{
    background-color: rgb(221, 221, 221);
    cursor: pointer;


}
/* category page*/
.category-container{
    justify-self: center;

}
.ctgry-card{
    padding: 20px;
    outline: 1px solid rgb(148, 152, 155);
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    transform: scale(1);
    transition: transform .1s ease;
}
.ctgry-card:hover{
    outline: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);

    
}
/*edit category page*/
.ctgry-edit-container{
    margin-top: 25%;
    justify-self:center ;
    align-self: center;
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;    
}
.ctgry-edit-form{
    align-items: center;
    display: grid;
    grid-template: repeat( 2, 1fr) / repeat( 2, 1fr);    
}
/* delete category page*/
.ctgry-delete-container{
    margin-top: 25%;
    justify-self:center ;
    align-self: center;
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;    
}
.ctgry-delete-buttons-container{
    justify-self: center;  
}
/*items page*/
.itms-container{
    justify-self: center;

}
.itm-card{
    display: grid;
    grid-template: 1fr/ auto auto auto;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-areas: 'item-name item-quantity item-category options';

    padding: 20px;
    outline: 1px solid rgb(148, 152, 155);
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    transform: scale(1);
    transition: transform .1s ease; 
}
.itm-card:hover{
    outline: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);   
}
/*edit item page*/
.itm-edit-container{
    margin-top: 25%;
    justify-self:center ;
    align-self: center;
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;

}
.itm-edit-form{
    align-items: center;
    display: grid;
    grid-template: repeat( 4, 1fr) / repeat( 2, 1fr);
}
/* delete item page*/
.itm-delet-container{
    margin-top: 25%;
    justify-self:center ;
    align-self: center;
    outline: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}
.item-delete-buttons-container{
    justify-self: center;
}
