body{   
    background-color: rgb(241, 237, 237);

}
header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ' title nav';
    background-color: rgb(148, 152, 155);

}
.header-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    text-align: center;
    
    grid-template-areas: 'fridge category product';
}
a{ 
    text-decoration: none;
    color: white;
    align-self: center;
}