html{
    height: 100%;    
}
body{   
    background-color: rgb(241, 237, 237);
    margin: 0px;
  


}
header{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: ' title nav';
    background-color: rgb(148, 152, 155);
    padding: 10px;

}
.header-nav{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
    text-align: center;
    
    grid-template-areas: 'fridge category product';
}
a{ 
    text-decoration: none;
    color: white;
    align-self: center;
}
.main-container{
    display:grid;
    grid-template: 1fr 1fr 1fr /1fr 1fr 1fr;
    justify-content: center;
    grid-template-areas:
    ' . title .'
    ' . links .'
    '. . .';
    gap: 5px;
    justify-items: center;
    align-items: center;
    align-self: center;
    margin-top: 25%;
    
}
.title{
    grid-area: title;
}
.link-container{
    grid-area: links;
}
.link-Btn{
    background-color: rgb(148, 152, 155);
    padding: 20px;
    font-size: 24px;
}
.link-Btn:hover{
    background-color: rgb(204, 206, 207);
}
/* category page*/
.category-container{
    justify-self: center;

}
.ctgry-card{
    padding: 20px;
    outline: 1px solid rgb(148, 152, 155);
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    transform: scale(1);
    transition: transform .1s ease;
}
.ctgry-card:hover{
    outline: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);

    
}